In [1]:
### Environment setup
from pystac_client import Client
import planetary_computer as pc
import os

# Set the environment variable PC_SDK_SUBSCRIPTION_KEY, or set it here.
# The Hub sets PC_SDK_SUBSCRIPTION_KEY automatically.
# pc.settings.set_subscription_key(<YOUR API Key>)
env_vars = !cat /content/.env

for var in env_vars:
    key, value = var.split(' = ')
    os.environ[key] = value

In [2]:
import fsspec
import pandas as pd
storage_options={'account_name':os.environ['ACCOUNT_NAME'],\
                 'account_key':os.environ['BLOB_KEY']}

In [3]:
fs = fsspec.filesystem('az', account_name=storage_options['account_name'], account_key=storage_options['account_key'])

In [4]:
containers= ['usgs-data', 'ana-data', 'itv-data']
a = fs.ls(containers[0])[0]

In [5]:
station_list0 = [a for a in fs.ls(f'{containers[0]}/stations/') if 'csv' in a]
station_list1 = [a for a in fs.ls(f'{containers[1]}/stations/') if 'csv' in a]
station_list2 = [a for a in fs.ls(f'{containers[2]}/stations/') if 'csv' in a]
#so within these lists, we want to look at each and count the number of rows
#note that we don't want images that are before 2016..

In [6]:
station = []
length = []
dates = []
'''
for s in station_list0:
    z = pd.read_csv(f"az://{fs.ls(f'{s}/')[0]}", storage_options=storage_options).dropna()
    dates.append([z['Date-Time'].iloc[0],z['Date-Time'].iloc[-1]])
    length.append(len(z))
    station.append(s)
    '''
date_min = '2014-01-01'
for s in station_list1:
    z = pd.read_csv(f"az://{fs.ls(f'{s}/')[0]}", storage_options=storage_options).dropna().sort_values(by='Date-Time')
    z = z[z['Date-Time']>date_min]
    if len(z) >=1:
        dates.append([z['Date-Time'].iloc[0],z['Date-Time'].iloc[-1]])
        length.append(len(z))
        station.append(s)
for s in station_list2:
    z = pd.read_csv(f"az://{fs.ls(f'{s}/')[0]}", storage_options=storage_options).dropna().sort_values(by='Date-Time')
    z = z[z['Date-Time']>date_min]
    if len(z) >=1:
        dates.append([z['Date-Time'].iloc[0],z['Date-Time'].iloc[-1]])
        length.append(len(z))
        station.append(s)

In [7]:
final = pd.DataFrame({'station':station, 'nrows':length, 'daterange':dates})

In [9]:
import numpy as np 
np.sum(final.nrows)

467

In [85]:
final

,station,nrows,daterange
0,ana-data/stations/21750000.csv,17,"[2009-08-21 09:15:00, 2019-10-06 10:38:00]"
1,ana-data/stations/22050001.csv,33,"[2001-01-20 18:30:00, 2019-11-21 11:00:00]"
2,ana-data/stations/22500000.csv,13,"[2009-07-10 11:30:00, 2014-11-24 10:06:00]"
3,ana-data/stations/22700000.csv,21,"[2009-04-07 09:00:00, 2019-10-18 09:21:00]"
4,ana-data/stations/22900000.csv,19,"[2009-03-10 10:00:00, 2019-10-23 09:28:00]"
5,ana-data/stations/23100000.csv,17,"[2009-09-26 14:30:00, 2018-10-15 10:50:00]"
6,ana-data/stations/23230000.csv,19,"[2009-09-23 09:30:00, 2018-11-07 09:30:00]"
7,ana-data/stations/23250000.csv,20,"[2009-09-25 08:00:00, 2018-12-07 09:10:00]"
8,ana-data/stations/23700000.csv,21,"[2009-10-11 12:15:00, 2019-11-29 09:12:00]"
9,ana-data/stations/25200000.csv,15,"[2011-11-04 09:30:00, 2019-08-11 10:27:00]"
10,ana-data/stations/26200000.csv,18,"[2009-08-29 09:45:00, 2019-11-28 10:46:00]"
11,ana-data/stations/26300000.csv,18,"[2009-01-09 09:45:00, 2019-11-30 09:55:00]"
12,ana-data/stations/26350000.csv,16,"[2009-03-09 10:00:00, 2019-06-24 09:49:00]"
13,ana-data/stations/26800000.csv,17,"[2009-07-16 11:20:00, 2019-07-26 10:45:00]"
14,ana-data/stations/27500000.csv,18,"[2009-09-14 10:40:00, 2018-07-19 11:30:00]"
15,ana-data/stations/27550000.csv,19,"[2009-09-17 11:00:00, 2018-11-10 09:24:00]"
16,ana-data/stations/28240000.csv,25,"[2009-03-08 11:00:00, 2020-04-02 11:02:00]"
17,ana-data/stations/28300000.csv,14,"[2009-04-08 14:45:00, 2020-02-18 10:07:00]"
18,ana-data/stations/28850000.csv,20,"[2009-06-11 15:10:00, 2019-05-27 13:20:00]"
19,ana-data/stations/29050000.csv,16,"[2010-03-05 13:00:00, 2019-12-09 14:08:00]"
20,ana-data/stations/29100000.csv,22,"[2009-06-26 15:10:00, 2019-09-18 14:07:00]"
21,ana-data/stations/29200000.csv,13,"[2009-06-27 15:30:00, 2019-09-14 10:36:00]"
22,itv-data/stations/ITV1.csv,19,"[2015-03-24, 2019-06-26]"
23,itv-data/stations/ITV10.csv,18,"[2015-03-24, 2019-06-25]"
24,itv-data/stations/ITV11.csv,18,"[2015-03-27, 2019-08-09]"
25,itv-data/stations/ITV12.csv,16,"[2015-09-20, 2019-11-09]"
26,itv-data/stations/ITV13.csv,18,"[2015-01-06, 2019-12-09]"
27,itv-data/stations/ITV14.csv,19,"[2015-01-06, 2019-12-09]"
28,itv-data/stations/ITV15.csv,17,"[2015-05-31, 2019-12-04]"
29,itv-data/stations/ITV16.csv,18,"[2015-02-06, 2019-09-13]"
30,itv-data/stations/ITV2.csv,19,"[2015-03-23, 2019-06-26]"
31,itv-data/stations/ITV3.csv,18,"[2015-01-06, 2019-11-09]"
32,itv-data/stations/ITV4.csv,19,"[2015-03-25, 2019-06-27]"
33,itv-data/stations/ITV5.csv,19,"[2015-03-26, 2019-10-04]"
34,itv-data/stations/ITV6.csv,18,"[2015-01-06, 2019-12-09]"
35,itv-data/stations/ITV7.csv,19,"[2015-03-28, 2019-10-09]"
36,itv-data/stations/ITV8.csv,18,"[2015-05-29, 2019-10-09]"
37,itv-data/stations/ITV9.csv,19,"[2015-03-28, 2019-10-04]"

In [63]:
import numpy as np
np.sum(final.nrows)

1270697

In [ ]:
#703 images from Brazil needed.